body {
  background-color: rgb(240, 240, 240)
  ;
  color: rgb(54, 54, 54);
  background-image: url("./dots.png");
  font-family: "Titillium Web";
}

.welcome{
  color: rgb(240, 240, 240)
  ;
}

.greenTitle{
  color: #71B023;
}

.greenBorder{
  border-color: #71B023 !important;
}

.navbarLinks {
  flex-grow: 0 !important;
}

div.card,
a.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./back.jpg");
}

.overlay {
  background-color: #1414148f;
  z-index: 0;
}

a.nav-link,
a.navbar-brand, a.card-link {
  color: inherit;
}

.nav-dark {
  background-color: rgb(54, 54, 54);
}

a.nav-link:hover {
  color: #71B023;
}


/*form {
  padding: 5px;
  border-color: #313131;
  border-style: solid;
  border-width: 1px 0;
}*/

form {
  text-align: right;
  margin-top: 20px;
}

.btToggle .btn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  line-height: 34px;
  color: rgb(240, 240, 240)
  ;
}

/* Hide default HTML checkbox */
.btToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.btToggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(54, 54, 54);
  border-radius: 34px;
  white-space: nowrap;
}

.btToggle .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(240, 240, 240)
  ;
  border-radius: 50%;
}

.btToggle input:checked + .slider {
  background-color: rgb(240, 240, 240)
  ;
}

.btToggle input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
  color: #232323;
}

.btToggle input:checked + .slider:before {
  right: 4px;
  left: auto;
  background-color: rgb(54, 54, 54);
}

/* DARK MODE */
.mode-dark{
  background-color: rgb(54, 54, 54);
  color: rgb(240, 240, 240)
  ;
}

.label{
  color: rgb(240, 240, 240)
  ;
}

/*.mode-dark form {
  background-color: #232323;
  border-color: #ccc;
}
